body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: #f4f7f9;
  color: #333;
}

.user-list-container {
  width: 95%;
  max-width: 1200px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
  padding-bottom: 15px;
}

.header h2 {
  color: #000000;
  margin: 0;
  font-size: 24px;
}

.logout-btn {
  background-color: #555;
  color: white;
  border: none;
  padding: 8px 20px;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 600;
  transition: background 0.3s;
}

.logout-btn:hover {
  background-color: #222;
}

.button-container {
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
  align-items: center;
}

.main-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background-color: #3c8bcb;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s;
}

.main-button:hover:not(:disabled) {
  background-color: #2e6da4;
  transform: translateY(-1px);
}

.delete-btn {
  background-color: #d9534f;
}

.delete-btn:hover:not(:disabled) {
  background-color: #c9302c;
}

.trash-icon {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  filter: grayscale(1);
}

.table-container {
  max-height: 450px;
  overflow-y: scroll;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

th {
  background-color: #e51400;
  color: white;
  padding: 14px;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 10;
}

td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}


tr:nth-child(even) {
  background-color: #f7cecc;
}

tr:hover {
  background-color: #cfcfcf;
}

.address-column {
  max-width: 180px;
  display: flex;
  justify-content: bween;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.extra-addresses {
  margin-left: 6px;
  background-color: #2e6da4;
  color: white;
  border-radius: 12px;
  padding: 2px 7px;
  font-size: 12px;
  font-weight: bold;
  white-space: nowrap;
  margin-left: auto;
}

.img-gender {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

input[type="radio"] {
  accent-color: #e51400;
  transform: scale(1.2);
}